/* SCSS Document */
$mainColor:beige;

div {
  background-color: $mainColor;
  border: 1px solid black;
  padding: 1.5%;
  margin: 10px auto;
  width: 75%; }

section {
  background-color: white;
  border: 1px solid black;
  padding: 1.5%;
  margin: 10px auto; }
